---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

	<section 
		class="py-6 px-6 mx-6 rounded-xl" 
		style="background-image: url('/images/home01.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">

		<div class="flex flex-col text-center pt-6 space-y-10">
			<h1 class="text-5xl text-center font-black">Some Title Here</h1>
			<p class="text-center">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, facere?
			</p>
			<div>
				<a 
					class="mx-2 px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-500" 
					href="/about-us">
					about us
				</a>
				<a 
					class="ml-2 px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-500" 					
					href="/contact-us">
					contact us
				</a>
			</div>
		</div>

	</section>

</BaseLayout>
