<nav class="bg-purple-500 px-4">

    <div class="flex flex-row justify-end space-x-6 py-2 text-white">
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/contact-us">Contact Us</a>
    </div>

</nav>